name: Scheduled Workflow

on:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  print-message:
    runs-on: ubuntu-latest
    steps:
      - name: Print Message
        run: echo "Scheduled workflow running"
